{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block extra_css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'apps/css/theme.css' %}">
</head>
<body>

<div class="container">
    <aside class="sidebar">
        <a style="text-decoration: none" href="{% url 'client_list' %}">
            <div class="{% if request.resolver_match.url_name == 'client_list' %}
            	sidebar-header active
            	{% else %}
            	sidebar-item
            {% endif %}">Клиенты
            </div>
        </a>
        <a style="text-decoration: none" href="{% url 'product_list' %}">
            <div class="{% if request.resolver_match.url_name == 'product_list' %}
            	sidebar-header active
            	{% else %}
            	sidebar-item
            {% endif %}">Товары
            </div>
        </a>
        <a style="text-decoration: none" href="{% url 'order_list' %}">
            <div class="{% if request.resolver_match.url_name == 'order_list' %}
            	sidebar-header active
            	{% else %}
            	sidebar-item
            {% endif %}">Заказы
            </div>
        </a>
    </aside>
    {% block content %}
    {% endblock %}
</div>
{% block extra_js %}
{% endblock %}


</body>
</html>