{% extends 'apps/base.html' %}
{% load static %}

{% block content %}
    <main class="main">
        <div class="form-row">
            <button class="add-btn" onclick="openModal()">+ Добавить клиента</button>
        </div>
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Добавить клиента</h2>
                <form id="clientForm" method="post" action="{% url 'client_list' %}">
                    {% csrf_token %}
                    Имя: <input type="text" name="full_name" required><br>
                    Телефон: <input type="tel" name="phone_number" required><br><br>
                    <button type="submit" class="save-btn">Сохранить</button>
                    <button type="button" class="cancel-btn">Отменить</button>
                </form>
            </div>
        </div>

        <table class="client-table">
            <thead>
            <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.full_name }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td>
                        <button class="icon-btn edit" title="Изменить">✏️</button>
                        <button class="icon-btn delete" title="Удалить">🗑</button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </main>
    <script>
        function openModal() {
            document.getElementById("modal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("modal").style.display = "none";
        }

        document.getElementById("clientForm").addEventListener("submit", function (e) {
            e.preventDefault();
            const name = e.target.name.value;
            const phone = e.target.phone.value;
            console.log("Yangi klient:", name, phone);
            closeModal();
        });
    </script>

{% endblock %}