{% extends 'apps/base.html' %}
{% load static %}

{% block content %}
    <main class="main">
        <div class="form-row">
            <input type="text" placeholder="Имя клиента" class="input">
            <input type="text" placeholder="Телефон" class="input">
            <button class="add-btn">+ Добавить клиента</button>
        </div>

        <table class="client-table">
            <thead>
            <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Ali Valiev</td>
                <td>+7 707 777 7007</td>
                <td>
                    <button class="icon-btn edit" title="Изменить">✏️</button>
                    <button class="icon-btn delete" title="Удалить">🗑</button>
                </td>
            </tr>
            <!-- Другие строки -->
            </tbody>
        </table>
    </main>

{% endblock %}