{% extends 'apps/base.html' %}
{% load static %}
{% block css_link %}
    <link rel="stylesheet" href="{% static 'apps/css/clients.css' %}">
{% endblock %}
{% block content %}
    <main class="main">
        <div class="form-row">
            <button class="add-btn" onclick="openModal()">+ Добавить клиента</button>
        </div>
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Добавить клиента</h2>
                <form id="clientForm" method="post" action="{% url 'client_list' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="error-message">
                            {{ form.non_field_errors.0 }}
                        </div>
                    {% endif %}
                    <label>Имя:</label>
                    {{ form.full_name.errors }}
                    <input type="text" name="full_name" oninput="this.value = this.value.replace(/[^A-Za-z]/g, '')">
                    <label for="id_phone_number">Телефон:</label>
                    {{ form.phone_number.errors }}
                    <input type="tel" id="phone_number" name="phone_number" maxlength="12" required
                           placeholder="+7XXXXXXXXXX" value="{{ form.phone_number.value|default:'+7' }}">
                    <span id="phone-error" style="color:red;"></span>

                    <button type="submit" class="save-btn">Сохранить</button>
                    <button type="button" class="cancel-btn" onclick="closeModal()">Отменить</button>
                </form>
            </div>
        </div>

        <table class="client-table">
            <thead>
            <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.full_name }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td>
                        <button class="icon-btn update" title="Изменить"
                                onclick="openUpdateModal(this)"
                                data-client-id="{{ client.id }}"
                                data-client-name="{{ client.full_name }}"
                                data-client-phone="{{ client.phone_number }}"
                                data-update-url="{% url 'client_update' client.id %}">
                            ✏️
                        </button>
                        <button class="icon-btn delete" title="Удалить"
                                onclick="openDeleteModal(this)"
                                data-client-id="{{ client.id }}"
                                data-client-name="{{ client.full_name }}">
                            🗑
                        </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </main>

    <div id="updateModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeUpdateModal()">&times;</span>
            <h2>Редактировать клиента</h2>
            <form id="updateForm" method="POST">
                {% csrf_token %}￼
                <label for="full_name">ФИО:</label>
                <input type="text" id="full_name" name="full_name"
                       oninput="this.value = this.value.replace(/[^A-Za-z]/g, '')" required>
                {{ form.full_name.errors }}
                <label for="phone_number">Телефон:</label>
                {{ form.phone_number.errors }}
                <input type="tel" id="phone_number" name="phone_number" maxlength="12" required
                       placeholder="+7XXXXXXXXXX" value="{{ form.phone_number.value|default:'+7' }}">
                <span id="phone-error" style="color:red;"></span>

                <button type="submit" class="update-btn">Сохранить</button>
                <button type="button" class="cancel-btn" onclick="closeUpdateModal()">Отмена</button>
            </form>
        </div>
    </div>


    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeDeleteModal()">&times;</span>
            <h2>Удаление клиента</h2>
            <p id="deleteText">Вы уверены, что хотите удалить клиента?</p>
            <form id="deleteForm" method="POST">
                {% csrf_token %}
                <button type="submit" class="delete-btn">Да, удалить</button>
                <button type="button" class="cancel-btn" onclick="closeDeleteModal()">Отмена</button>
            </form>
        </div>
    </div>
    {% if form.errors %}
        <script>
            window.addEventListener("DOMContentLoaded", function () {
                openModal();
            });
        </script>
    {% endif %}
    {% block extra_js %}
        <script src="{% static 'apps/js/clients.js' %}"></script>
    {% endblock %}
{% endblock %}