{% extends 'apps/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'apps/css/orders.css' %}">
{% endblock %}
{% block content %}
    <main class="main">
        <div class="order-form">
            <form action="{% url 'order_list' %}" method="POST">
                {% csrf_token %}
                <select name="client_id" id="client_id" required>
                    <option value="" selected disabled>Выберите клиент</option>
                    {% for client in clients %}
                        <option value="{{ client.id }}">{{ client.full_name }}</option>
                    {% endfor %}
                </select>

                <div id="orders-container">
                    <div class="order-row">
                        <select class="product-select" name="product_id_1" onchange="updatePrice(this)">
                            <option value="" selected disabled>Выберите продукт</option>
                            {% for product in products %}
                                <option value="{{ product.id }}"
                                        data-price="{{ product.sold_price }}"
                                        data-quantity="{{ product.quantity }}"
                                        {% if product.quantity < 1 %}disabled{% endif %}>
                                    {{ product.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <input type="number" class="order-quantity" min="1" value="1" name="quantity_1"
                               placeholder="Количество" required
                               oninput="calculateTotal()"/>
                        <input type="number" class="order-price" placeholder="Цена" readonly/>
                        <button type="button" onclick="removeRow(this)">⛔</button>
                    </div>
                </div>

                <button type="button" onclick="addProduct()">+</button>

                <div class="total-section">
                    <input type="text" class="total-input" id="total" value="Итого: 0" readonly>
                    <button type="submit" class="pay-btn">Оплатить</button>
                </div>
            </form>


        </div>
        <br><br>
        Клиент:
        <select name="client" id="id_client" onchange="window.location.href=this.value">
            <option value="" selected disabled>Выберите клиент</option>
            <option style="background-color: #4dc053" value="{% url 'order_list' %}">Все</option>
            {% for client in clients %}
                <option value="?client={{ client.slug }}">{{ client.full_name }}</option>
            {% endfor %}
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;
        Товар:
        <select name="client" id="id_client" onchange="window.location.href=this.value">
            <option value="" selected disabled>Выберите товар</option>
            <option style="background-color: #4dc053" value="{% url 'order_list' %}">Все</option>
            {% for product in products %}
                <option value="?prod={{ product.slug }}">{{ product.name }}</option>
            {% endfor %}
        </select>

        <table class="order-table">
            <thead>
            <tr>
                <th>№</th>
                <th>Клиент</th>
                <th>Товар</th>
                <th>Количества</th>
                <th>Итог</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.client }}</td>
                    <td>
                        {% for order_item in order.order_items.all %}
                            <b style="color: #FF9800; margin-right: 80px">{{ order_item.product.name }}</b>
                            {{ order_item.product_price }}
                            &nbsp;&nbsp;✖&nbsp;&nbsp;
                            {{ order_item.quantity }}
                            &nbsp;🟰&nbsp;
                            {{ order_item.total_price }}
                            <br><br>
                        {% endfor %}
                    </td>
                    <td>{{ order.order_items.all|length }}</td>
                    <td>{{ order.total_price }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </main>
    {% block extra_js %}
        <script src="{% static 'apps/js/orders.js' %}"></script>
    {% endblock %}

{% endblock %}
