{% extends 'apps/base.html' %}
{% load static %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'apps/css/products.css' %}">
{% endblock %}
{% block content %}
    <main class="main">
        <table class="product-table">
            <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Купленная цена</th>
                <th>Продаваемая цена</th>
                <th>Штук</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.bought_price }} ₸</td>
                    <td>{{ product.sold_price }} ₸</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <button class="add-btn">➕</button>
    </main>
    <!-- Modal oynasi -->
    <div id="addProductModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Добавить продукт</h2>
            <form method="POST" action="{% url 'product_list' %}">
                {% csrf_token %}
                <label>Название:</label>
                <input type="text" name="name" required>

                <label>Купленная цена:</label>
                <input type="number" min="0" name="bought_price" required>

                <label>Продаваемая цена:</label>
                <input type="number" min="0" name="sold_price" required>

                <label>Штук:</label>
                <input type="number" min="1" name="quantity" required>

                <button type="submit" class="save-btn">Сохранить</button>
            </form>
        </div>
    </div>
    {% block extra_js %}
        <script src="{% static 'apps/js/products.js' %}"></script>
    {% endblock %}

{% endblock %}