* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.sidebar-header,
.sidebar-item {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-header.active {
    background-color: #20c997;
    color: white;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
}

.sidebar-item:hover {
    background-color: #f0f0f0;
}

.main {
    flex: 1;
    padding: 30px;
    background-color: #f0f2f5;
    position: relative;
}


.add-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #20c997;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 14px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-btn:hover {
    background-color: #17b388;
}